<?xml version="1.0" encoding="utf-8"?>
<config>
	<fields name="General">
		<field name="profile_default" type="profile" default="" label="Default Profile" description="Select the profile which should be loaded by default." />
		<field name="profile_dynamic" type="radio" default="1" label="Dynamic Profiles" description="Allow profiles to be loaded by URL.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="compression" type="list" default="0" label="Compression" description="Minify and combine CSS and JavaScript into a single file. Use gzip compression and Data URIs to reduce image file requests.">
			<option value="0">None</option>
			<option value="1">Combination + Minify</option>
			<option value="2">Combination + Minify + Data URIs</option>
			<option value="3">Combination + Minify + Data URIs + Gzip</option>
		</field>
		<field name="outdated_browser" type="radio" default="1" label="Upgrade Page" description="Redirect outdated browsers to the upgrade page.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="twitter" type="radio" default="0" label="Twitter Button" description="Display a Tweet button in your articles.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="plusone" type="radio" default="0" label="Google+ Button" description="Display a Google+ button in your articles.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="facebook" type="radio" default="0" label="Facebook Button" description="Display a facebook like button in your articles.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
	  	<field name="tracking_code" type="textarea" rows="8" cols="30" label="Tracking Code" description="Insert your Google Analytics tracking code." />
		<field name="verify" type="verify" label="Verify Files" description="Detect and show all file modifications." />
		<field name="check" type="check" label="System Check" description="Detects system issues." />
		<field name="System" type="separator" />
		<field name="date_format" type="text" default="d. M Y" label="Date Format" description="Set the date format." />
		<field name="multicolumns" type="list" default="1" label="Frontpage Multi Columns" description="Set the number of item columns on the frontpage.">
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
		</field>
		<field name="multicolumns_order" type="radio" default="1" label="Multi Columns Order" description="Set the items order to across or down.">
			<option value="1">Across</option>
			<option value="0">Down</option>
		</field>	
		<field name="wpautop" type="radio" default="1" label="Post Formatting" description="Enable/Disable the content filter wpautop.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="search_results" type="text" default="5" label="Ajax Search Results" description="Set the number of ajax search results." class="short" />
	</fields>
	<fields name="Profiles">
		<field name="Style" type="separator" />
		<field name="style" type="styles" default="" label="Style" description="Select the style variation." />
		<field name="texture" type="list" default="default" label="Texture" description="Select the background texture">
			<option value="">None</option>
			<option value="linenfabric">Linen Fabric</option>
			<option value="dots">Dots</option>
			<option value="fabric">Fabric</option>
			<option value="grid">Grid</option>
			<option value="noise">Noise</option>
		</field>	
		<field name="color" type="list" default="default" label="Color" description="Select the color.">
			<option value="blue">Blue</option>
			<option value="orange">Orange</option>
			<option value="green">Green</option>
			<option value="lightblue">Light Blue</option>
			<option value="raspberryred">Raspberry Red</option>
			<option value="turquoise">Turquoise</option>
			<option value="rose">Rose</option>
			<option value="yellow">Yellow</option>
			<option value="lavender">Lavender</option>
		</field>
		<field name="font1" type="list" default="default" label="Body Font" description="Select the main body typeface.">
			<option value="arial">Arial</option>
			<option value="lucida">Lucida</option>
			<option value="georgia">Georgia</option>
			<option value="timesnewroman">Times New Roman</option>
			<option value="trebuchet">Trebuchet</option>
			<option value="droidsans">Droid Sans</option>
			<option value="opensans">Open Sans</option>
			<option value="yanonekaffeesatz">Yanone Kaffeesatz</option>
			<option value="mavenpro">Maven Pro</option>
		</field>
		<field name="font2" type="list" default="default" label="Header Font" description="Select the headings typeface.">
			<option value="arial">Arial</option>
			<option value="lucida">Lucida</option>
			<option value="georgia">Georgia</option>
			<option value="timesnewroman">Times New Roman</option>
			<option value="trebuchet">Trebuchet</option>
			<option value="droidsans">Droid Sans</option>
			<option value="opensans">Open Sans</option>
			<option value="yanonekaffeesatz">Yanone Kaffeesatz</option>
			<option value="mavenpro">Maven Pro</option>
		</field>
		<field name="font3" type="list" default="default" label="Menu Font" description="Select the menu typeface.">
			<option value="arial">Arial</option>
			<option value="lucida">Lucida</option>
			<option value="georgia">Georgia</option>
			<option value="timesnewroman">Times New Roman</option>
			<option value="trebuchet">Trebuchet</option>
			<option value="droidsans">Droid Sans</option>
			<option value="opensans">Open Sans</option>
			<option value="yanonekaffeesatz">Yanone Kaffeesatz</option>
			<option value="mavenpro">Maven Pro</option>
		</field>
		<field name="animation" type="radio" default="1" label="CSS3 Animations" description="Select CSS3 animations.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="featured_spotlight" type="radio" default="1" label="Featured Spotlight" description="Show spotlight on featured article images.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="Content" type="separator" />
		<field name="date" type="radio" default="1" label="Date" description="Show the date.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="totop_scroller" type="radio" default="1" label="To-Top Scroller" description="Show the to-top scroller.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="warp_branding" type="radio" default="1" label="Warp Branding" description="Show the Warp branding.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="system_output" type="radio" default="1" label="System Output" description="Show the system output.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="blog_view_meta" type="radio" default="1" label="Meta Data Blog View" description="Show date, author, category on blog view.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="single_view_meta" type="radio" default="1" label="Meta Data Single Post" description="Show date, author, category on single posts.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="blog_view_featured_image" type="radio" default="1" label="Featured Image Blog View" description="Show featured image on blog view.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="single_view_featured_image" type="radio" default="1" label="Featured Image Single Post" description="Show featured image on single posts.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="Layout" type="separator" />
		<field name="responsive" type="radio" default="1" label="Responsive Layout" description="Enable responsive layout.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="template_width" type="text" size="10" default="980" label="Template Width" description="Set the template width in pixel." class="short" />
		<field name="header_fixed" type="radio" default="0" label="Fixed Top-A" description="Show top-a in a fixed position.">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="header_height" type="list" default="auto" label="Top-A Height" description="Set top-a height in pixels (Only used when top-a position is fixed).">
			<option value="400">400</option>
			<option value="450">450</option>
			<option value="500">500</option>
			<option value="550">550</option>
			<option value="600">600</option>
		</field>
		<field name="block-toolbar" type="list" default="0" label="Toolbar Width" description="Set the toolbar width to the default template width or to 80% or 100% fluid width">
			<option value="0">Default</option>
			<option value="80">80%</option>
			<option value="100">100%</option>
		</field>
		<field name="block-headerbar" type="list" default="0" label="Headerbar Width" description="Set the headerbar width to the default template width or to 80% or 100% fluid width">
			<option value="0">Default</option>
			<option value="80">80%</option>
			<option value="100">100%</option>
		</field>
		<field name="block-top-a" type="list" default="0" label="Top-A Width" description="Set the top-a width to the default template width or to 80% or 100% fluid width">
			<option value="0">Default</option>
			<option value="80">80%</option>
			<option value="100">100%</option>
		</field>
		<field name="block-main" type="list" default="0" label="Main Width" description="Set the main width to the default template width or to 80% or 100% fluid width">
			<option value="0">Default</option>
			<option value="80">80%</option>
			<option value="100">100%</option>
		</field>
		<field name="block-bottom" type="list" default="0" label="Bottom Width" description="Set the bottom width to the default template width or to 80% or 100% fluid width">
			<option value="0">Default</option>
			<option value="80">80%</option>
			<option value="100">100%</option>
		</field>
		<field name="block-footer" type="list" default="0" label="Footer Width" description="Set the footer width to the default template width or to 80% or 100% fluid width">
			<option value="0">Default</option>
			<option value="80">80%</option>
			<option value="100">100%</option>
		</field>
		<field name="sidebar-a_width" type="text" size="10" default="25" label="Sidebar A Width" description="Set the Sidebar A width in percent." class="short" />
		<field name="sidebar-b_width" type="text" size="10" default="25" label="Sidebar B Width" description="Set the Sidebar B width in percent." class="short" />
		<field name="sidebar-a" type="list" default="right" label="Sidebar A Position" description="Align the sidebar to the left or right.">
			<option value="right">Right</option>
			<option value="left">Left</option>
		</field>
		<field name="sidebar-b" type="list" default="right" label="Sidebar B Position" description="Align the sidebar to the left or right.">
			<option value="right">Right</option>
			<option value="left">Left</option>
		</field>
		<field name="top-a" type="layout" default="equal" label="Top A Layout" description="Select a grid layout for this module position." />
		<field name="top-b" type="layout" default="equal" label="Top B Layout" description="Select a grid layout for this module position." />
		<field name="innertop" type="layout" default="equal" label="Inner Top Layout" description="Select a grid layout for this module position." />
		<field name="innerbottom" type="layout" default="equal" label="Inner Bottom Layout" description="Select a grid layout for this module position." />
		<field name="bottom-a" type="layout" default="equal" label="Bottom A Layout" description="Select a grid layout for this module position." />
		<field name="bottom-b" type="layout" default="equal" label="Bottom B Layout" description="Select a grid layout for this module position." />
		<field name="menu_width" type="text" size="10" default="250" label="Drop Down Column Width" description="Set the column width of the drop down menu in pixel." class="short" />

		<field name="Grid-A-Licious" type="separator" />
		<field name="fp_grid_status" type="radio" default="0" label="Grid-A-Licious Effect" description="Enable grid-a-licious for category blog or featured article blog">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="fp_grid_colwidth" type="text" size="10" default="300" label="Column Width" description="Set the column width in px" class="short" />
		<field name="fp_grid_gutter" type="text" size="10" default="10" label="Gutter Width" description="Set the number of columns" class="short" />
		<field name="fp_grid_animation" type="radio" default="0" label="Animation" description="Enable animation for grid-a-licious grid">
			<option value="0">No</option>
			<option value="1">Yes</option>
		</field>
		<field name="fp_grid_speed" type="text" size="10" default="200" label="Item Show Up" description="Set time when next item will be shown in ms" class="short" />
		<field name="fp_grid_duration" type="text" size="10" default="300" label="Animation Duration" description="Set animation duration in ms" class="short" />
		
	</fields>
</config>